<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

</head>

<body>
	<div th:fragment="header" th:remove="tag">

		<link rel="shortcut icon" href="/images/blacksheep.ico" type="image/x-icon">

		<!-- Bootstrap Links -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
			integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		<link rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"></script>

		<!-- Style Sheets-->
		<link type="text/css" rel="stylesheet" th:href="@{/css/styles.css}" />
		<link type="text/css" rel="stylesheet" th:href="@{/css/product-styles.css}" />
		<link type="text/css" rel="stylesheet" th:href="@{/css/shop-homepage.css}" />

		<!-- Script Files-->
		<script th:src="@{/scripts/script.js}" async></script>

		<script th:src="@{/scripts/cart.js}" async></script>
	</div>
</body>

</html>