<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

</head>

<body>
	<div th:fragment="navigation-bar" th:remove="tag">
		<!-- Navigation -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
			<div class="container">
				<a href="/"><img class="navbar-brand" th:src="@{/images/logo1.png}" alt="BlackSheep logo"></a>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
					aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<form action="/" method="get">
								<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
								<button type="submit" class="btn btn-lg btn-dark nav-link">Home</button>
							</form>
						</li>
						<li class="nav-item">
							<form action="/contact-form" method="get">
								<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
								<button type="submit" class="btn btn-dark btn-lg nav-link">Contact us</button>
							</form>
						</li>
						<li class="nav-item">
							<form action="/products" method="get">
								<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
								<button type="submit" class="btn btn-lg btn-dark nav-link">Products</button>
							</form>
						</li>
						<li class="nav-item">
							<form action="/cart" method="GET">
								<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
								<button type="submit" class="btn btn-dark btn-lg nav-link">Cart</button>
							</form>
						</li>
						<li class="nav-item" sec:authorize="!isAuthenticated()">
							<form action="/register" method="get">
								<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
								<button type="submit" class="btn btn-dark btn-lg nav-link">Register</button>
							</form>
						</li>
						<li class="nav-item" sec:authorize="isAuthenticated()">
							<form action="/profile" method="get">
								<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
								<button type="submit" class="btn btn-dark btn-lg nav-link">Profile</button>
							</form>
						</li>
						<li class="nav-item" sec:authorize="!isAuthenticated()">
							<form action="/login" method="get">
								<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
								<button type="submit" class="btn btn-dark nav-link btn-lg">Login</button>
							</form>
						</li>
						<li class="nav-item" sec:authorize="isAuthenticated()">
							<form action="/logout" method="post">
								<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
								<button type="submit" class="btn btn-dark btn-lg nav-link">Logout</button>
							</form>
						</li>
					</ul>
				</div>
			</div>
		</nav><br><br>
	</div>
</body>

</html>