<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>BlackSheep Cart</title>

	<!-- fragemnt for attached css files and scripts -->
	<script th:replace="fragments/header :: header"></script>
	<!-- Script Files-->
	<script th:src="@{/scripts/cart.js}" async></script>
</head>

<body>
	<!-- fragemnt for Navigation Bar -->
	<span th:replace="fragments/navigation-bar :: navigation-bar"></span>

	<!-- Page Content -->
	<div class="container">
		<br><br><br><br><br>
		<section class="container content-section cart">
			<h2 class="section-header">CART</h2>
			<div class="cart-row">
				<span class="cart-item cart-header cart-column">ITEM</span>
				<span class="cart-price cart-header cart-column">PRICE</span>
				<span class="cart-quantity cart-header cart-column">QUANTITY</span>
			</div>
			<div class="cart-items">
			</div>
			<div class="cart-total">
				<strong class="cart-total-title">Total</strong>
				<span class="cart-total-price">$0</span>
			</div>

			<form action="/guests_checkout" method="GET" sec:authorize="!isAuthenticated()">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<button type="submit" class="btn btn-primary btn-purchase" >Proceed To Payment</button>
			</form>
			<form action="/customers_checkout" method="GET" sec:authorize="isAuthenticated()">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<button type="submit" class="btn btn-primary btn-purchase" >Proceed To Payment</button>
			</form>
		</section>
	</div>
	<!-- /.container -->


	<!-- fragemnt for footer -->
	<span th:replace="fragments/footer :: footer"></span>

</body>

</html>