<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>BlackSheep Cart</title>

	<!-- fragemnt for attached css files and scripts -->
	<script th:replace="fragments/header :: header"></script>
</head>

<body>
	<!-- fragemnt for Navigation Bar -->
	<span th:replace="fragments/navigation-bar :: navigation-bar"></span>

	<!-- Page Content -->
	<div class="container">
	<br><br><br><br><br>
		<section class="container content-section cart">
			<h2 class="section-header">CART</h2>
			<div class="cart-row">
				<span class="cart-item cart-header cart-column">ITEM</span>
				<span class="cart-price cart-header cart-column">PRICE</span>
				<span class="cart-quantity cart-header cart-column">QUANTITY</span>
			</div>
			<div class="cart-items">
			</div>
			<div class="cart-total">
				<strong class="cart-total-title">Total</strong>
				<span class="cart-total-price">$0</span>
			</div>
			<button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
			<button class="btn btn-primary close">x</button>
		</section>
	</div>
	<!-- /.container -->
	
		
	<!-- fragemnt for footer -->
	<span th:replace="fragments/footer :: footer"></span>

</body>

</html>