<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>BlackSheep E-commerce | Login</title>

	<!-- fragemnt for attached css files and scripts -->
	<script th:replace="fragments/header :: header"></script>


</head>

<body>

	<!-- fragemnt for Navigation Bar -->
	<div th:replace="fragments/navigation-bar :: navigation-bar"></div>

	<!-- Page Content -->
	<div class="container">
		<div class="row" style="padding-top:20px; padding-bottom:70px;">
			<div class="col-lg-9">
				<h1 class="my-4 text-left">Login</h1>
			</div>
			<div class="col-lg-9">
				<form action="" method="post">
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
					<fieldset>
						<div th:if="${param.error != null}">
							Failed to login.
							<div th:if="${SPRING_SECURITY_LAST_EXCEPTION != null}">
								Reason:
								<span th:text="${SPRING_SECURITY_LAST_EXCEPTION.message}"></span>
							</div>
						</div>
						<!-- the configured LogoutConfigurer#logoutSuccessUrl is /login?logout and contains the query param logout -->
						<div th:if="${param.logout != null}">
							You have been logged out.
						</div>
						<div class="col-lg-9">
							<div class="form-group">
								<label for="username ">Email address</label>
								<input type="email" class="form-control" id="username" aria-describedby="emailHelp"
									placeholder="Enter email" name="username" />
								<small id="emailHelp" class="form-text text-muted">We'll never share your email with
									anyone
									else.</small>
							</div>
						</div>
						<div class="col-lg-9">
							<div class="form-group">
								<label for="password">Password</label>
								<input type="password" class="form-control" id="password" placeholder="Password"
									required name="password" />
							</div>
						</div>
						<button type="submit" class="btn btn-info">Login</button> <br> <br>
						<a href="/register"> <u> Not Registered Yet? <u> </a>
					</fieldset>
				</form>
			</div>
		</div>
	</div><br><br>
	<!-- /.container -->

	<!-- fragemnt for footer -->
	<span th:replace="fragments/footer :: footer"></span>

</body>

</html>