<!DOCTYPE html>
<html>

<head>
	<title>BlackSheep Payment Form</title>
	<link rel="shortcut icon" href="/images/blacksheep.ico" type="image/x-icon"> 
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<!-- library validate -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.js"></script>
	
	<!-- style css -->
	<link type="text/css" rel="stylesheet" th:href="@{/css/checkout-form-style.css}">
	<script th:src="@{/scripts/payment_guests.js}" async></script>

</head>

<body>

	<h2>Checkout Form</h2>
	<div class="row">
		<div class="col-75">
			<div class="container">
				<form class="payment-form" method="POST" action="/payment_guests">
				<input type="hidden" class="csrf_token" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
					<div class="row icon-relative">
						<div class="col-50">
							<h3>Shipping Address</h3>
							<label for="fname"><i class="fa fa-user icon-relative"></i> Full Name</label>
							<input type="text" id="fname" name="fullname" placeholder="e.g: John Smith" required>

							<label for="email"><i class="fa fa-envelope icon-relative"></i> Email</label>
							<input type="text" id="email" name="email" placeholder="e.g: blacksheep@gmail.com" required>

							<label for="adr"><i class="fa fa-address-card-o icon-relative"></i> Street Address</label>
							<input type="text" id="adr" name="address" placeholder="e.g: Kassai Ut. " required>


							<label for="city"><i class="fa fa-institution icon-relative"></i> City</label>
							<input type="text" id="city" name="city" placeholder="e.g: Debrecen" required>

							<div class="row icon-relative">
								<div class="col-50">
									<label for="state">State</label>
									<input type="text" id="state" name="state" placeholder="e.g: Hajdú-Bihar" required>

								</div>
								<div class="col-50 icon-relative">
									<label for="postalcode">Postal Code</label>
									<input type="text" id="postalcode" name="postalcode" placeholder="e.g: 4028"
										required>
								</div>
							</div>
						</div>

						<div class="col-50">
							<h3>Payment</h3>
							<label for="fname">Accepted Cards</label>
							<div class="icon-container">
								<i class="fa fa-cc-visa" style="color:navy;"></i>
								<i class="fa fa-cc-amex" style="color:blue;"></i>
								<i class="fa fa-cc-mastercard" style="color:red;"></i>
								<i class="fa fa-cc-discover" style="color:orange;"></i>
							</div>

							<label for="cname"><i class="fa fa-id-card-o" aria-hidden="true"></i> Name on Card</label>
							<input type="text" id="cname" name="cardname" placeholder="e.g: John Smith" required>

							<label for="ccnum"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> Credit Card
								Number</label>
							<input type="text" id="ccnum" name="cardnumber" placeholder="e.g: 1111 2222 3333 4444"
								required>

							<label for="expmonth"><i class="fa fa-calendar" aria-hidden="true"></i> Exp Month</label>
							<input type="text" id="expmonth" name="expmonth" placeholder="e.g: April" required>
							<div class="row">
								<div class="col-50">
									<label for="expyear"><i class="fa fa-calendar" aria-hidden="true"></i> Exp
										Year</label>
									<input type="text" id="expyear" name="expyear" placeholder="e.g: 2022" required>

								</div>
								<div class="col-50">
									<label for="cvv"><i class="fa fa-lock" aria-hidden="true"></i> CVV</label>
									<input type="text" id="cvv" name="cvv" placeholder="***" required>

								</div>
							</div>
						</div>
					</div>
					<button type="submit" class="btn checkout-btn">Continue to checkout</button>
				</form>
			</div>
		</div>
	</div>
	<!-- script validate js -->

</body>

</html>