<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>BlackSheep Products</title>

	<!-- fragemnt for attached css files and scripts -->
	<script th:replace="fragments/header :: header"></script>
			<!-- Script Files-->
	<script th:src="@{/scripts/script.js}" async></script>

</head>

<body>

	<!-- fragemnt for Navigation Bar -->
	<span th:replace="fragments/navigation-bar :: navigation-bar"></span>

	<!-- Body Content -->
	<section class="container content-section">
        <br><br><br>
        <h2 class="section-header">PRODUCTS</h2>
        <div class="row">
            <h6 class="col-lg-12">Search by Category: </h6>
            <div class="btn-group col-lg-12" role="group" aria-label="Basic example">
                <a href="/products/WATCHES" class="btn " style="background-color:darkorange;">Watches</a>
                <a href="/products/SHIRTS" class="btn" style="background-color:darkorange;">Shirts</a>
                <a href="/products/JEANS" class="btn" style="background-color:darkorange;">Jeans</a>
                <a href="/products/SHOES" class="btn"  style="background-color:darkorange;">Shoes</a>
            </div>
        </div>
        <div class="shop-items">
            <div class="shop-item" th:each="product : ${products}">
                <span class="shop-item-title" th:text="${product.name}"></span>
                <img class="shop-item-image" th:src="${product.imageSrc}">
                <div class="shop-item-details">
                    <span class="shop-item-price">$<span th:text="${product.unitPrice}"></span></span>
                   <button class="btn shop-item-button" type="button" style="background-color:darkorange;">ADD TO CART</button>
                </div>
                <span hidden class="shop-item-id" th:text="${product.id}"></span>
            </div>
        </div>
    </section>

	<!-- fragemnt for footer -->
	<span th:replace="fragments/footer :: footer"></span>

</body>

</html>