<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>BlackSheep Main Page</title>

	<!-- fragemnt for attached css files and scripts -->
	<script th:replace="fragments/header :: header"></script>

</head>

<body>
	<!-- fragemnt for Navigation Bar -->
	<span th:replace="fragments/navigation-bar :: navigation-bar"></span>

	<!-- Page Content -->
	<div class="container">
		<div class="row" style="padding-top:80px; padding-bottom:80px;">

			<div class="col-lg-12">
				<form action="" method="post">
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
					<div class="row">
						<div class="col-lg-6">
							<div class="form-group">
								<label for="exampleInputFirstName1">First Name</label>
								<input type="text" class="form-control" id="exampleInputFirstName1"
									th:field="${customer.firstName}" />
							</div>
						</div>

						<div class="col-lg-6">
							<div class="form-group">
								<label for="exampleInputLastName1">Last Name</label>
								<input type="text" class="form-control" id="exampleInputLastName1"
									th:field="${customer.lastName}" />
							</div>
						</div>

						<div class="col-lg-12">
							<div class="form-group">
								<label for="exampleInputEmail1">Email address</label>
								<input type="email" class="form-control" id="exampleInputEmail1"
									aria-describedby="emailHelp" th:field="${customer.email}" />
								</small>
							</div>
						</div>

						<div class="col-lg-12">
							<div class="form-group">
								<label for="exampleInputPassword1">New Password</label>
								<input type="password" class="form-control" id="exampleInputPassword1"
									placeholder="Change your password" th:field="${customer.password}" />
							</div>
						</div>

						<div class="col-lg-12">
							<div class="form-group">
								<label for="exampleInputPhoneNumber1">Phone Number</label>
								<input type="number" class="form-control" id="exampleInputPhoneNumber1"
									placeholder="e.g: 0036308804067" th:field="${customer.phone}" />
							</div>
						</div>

						<div class="col-lg-6">
							<div class="form-group">
								<label for="exampleInputCityName1">City</label>
								<input type="text" class="form-control" id="exampleInputCityName1"
									placeholder="e.g: Debrecen" th:field="${customer.city}" />
							</div>
						</div>

						<div class="col-lg-6">
							<div class="form-group">
								<label for="exampleInputCountryName1">State</label>
								<input type="text" class="form-control" id="exampleInputCountryName1"
									placeholder="e.g: Hajdú-Bihar" th:field="${customer.state}" />
							</div>
						</div>


						<div class="col-lg-9">
							<div class="form-group">
								<label for="exampleInputAddressName1">Street Address</label>
								<input type="text" class="form-control" id="exampleInputAddressName1"
									placeholder="e.g: Kassai Ut. " th:field="${customer.streetAddress}" />
							</div>
						</div>

						<div class="col-lg-3">
							<div class="form-group">
								<label for="exampleInputPostalCodeName1">Postal Code</label>
								<input type="number" class="form-control" id="exampleInputPostalCodeName11"
									placeholder="e.g: 4028" th:field="${customer.postalCode}" />
							</div>
						</div>

					</div>

					<button type="submit" class="btn btn-success">Save Changes</button> <br> <br>
					
				</form>
				
				<form action="/" method="get">
						<button type="submit" class="btn btn-danger">Discard Changes</button> <br> <br>
					</form>


			</div>
		</div>
	</div>


	<!-- fragemnt for footer -->
	<span th:replace="fragments/footer :: footer"></span>
</body>

</html>